@model List<CraftItem>

<form asp-action="Add">
    
    <div>
        <label for="txtAmmount" class="form-label">Ammount</label>
        <input id="txtAmmount" name="ammount" type="number" class="form-control"  />
    </div>
</form>