@using System.Globalization

    @if (User.Identity is not null && User.Identity.IsAuthenticated) {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">
            @ViewData["Username"]
        </a>
    </li>
    } else {
        <li class="nav-item">
            <a
                class="nav-link text-dark"
                asp-controller="Account" 
                asp-action="CreateAccount"
            >
                Create Account
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-dark"
                asp-controller="Account" 
                asp-action="OAuth">
                Login
            </a>
        </li>
    }