@inject IViewLocalizer text

<div class="col-auto">
    <form class="row" method="get" asp-controller="CraftItem" asp-action="Search" >
        <div class="col-sm">
            <label class="form-label">@text["SearchBarPlaceholder"]</label>
        </div>
        <div class="col-auto">
            <input class="form-control" name="name" type="text" value="@ViewData["CraftItemSearched"]" />
        </div>
    </form>
</div>