@using AlternativeMkt.Services
@inject ISettingsService settingsService

@{
    ViewData["Title"] = "About";
}

<section>
    <h1>About</h1>
    <ul>
        <li>
            <article>
                <h2>Instance</h2>
                @Html.Raw((await settingsService.GetSettings()).AboutInstance)
            </article>
        </li>
        <li>
            <article>
                <h2>CraftPls</h2>
                @Html.Raw((await settingsService.GetSettings()).AboutCraftPls)
            </article>
        </li>
    </ul>
</section>