@inject ServerConfig config
@{
    ViewData["Title"] = "About";
}

<section>
    <h1>About</h1>
    <ul>
        <li>
            <article>
                <h2>Instance</h2>
                @Html.Raw(config.AboutThisInstance)
            </article>
        </li>
        <li>
            <article>
                <h2>CraftPls</h2>
                <p>Platform created to facilitate request craft items in MMOs.</p>
                <p>If you want run an instance for a different game, contact the developer.</p>
                <p>Do not run an instance if the game has a similar tool.</p>
                <p>The platform is under development, suggestions are welcome.</p>
            </article>
        </li>
    </ul>
</section>