@{
    ViewData["Title"] = "Terms of Use";
}
<h1>@ViewData["Title"]</h1>

<section>
    <article>
        <h2>Allowed</h2>
        <ul>
            <li>Request in-game craft items to others players</li>
        </ul>
    </article>
</section>
<section>
    <article>
        <h2>Not allowed</h2>
        <ul>
            <li>Order in-game items by real money</li>
            <li>Abuse the system to get improper benefits</li>
        </ul>
        <p>
            Any violation of the rules can result in punishment.
        </p>
    </article>
</section>
