<form
    method="post"
    asp-controller="Account"
    asp-action="RegisterRequest"
>
    <div class="mb-2">
        <label for="email" class="form-control-label">Email</label>
        <input id="email" class="form-control" type="email" name="email" />
    </div>
    <input class="btn btn-success" type="submit" value="Request Access" />
</form>