@inject IViewLocalizer text

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@text["WelcomeMessage"]</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            <vc:search-bar></vc:search-bar>
        </div>
    </div>
</div>
